<main class="lista-vacantes">
    <h2>Navegacion</h2>
 
    <div class="botones separador">
        <a href="/editar-perfil" class="btn btn-azul">Editar perfil</a>
        <a href="/vacantes/nueva" class="btn btn-verde">Agregar vacante</a>
    </div>

    <h2>Tus vacantes</h2>
    <div class="panel-administracion">
        {{#if vacantes.length}}
        {{#each vacantes}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{empresa}}</h3>
                    <p class="puesto">{{titulo}}</p>
                    <p class="candidatos">
                       <span class="candidatos-red">{{candidatos.length}}</span>  candidatos
                    </p>
                </div>
                <div class="centrar-vertical caja">
                    <a href="/candidatos/{{_id}}" class="btn btn-verde">Ver candidato</a>
                </div>
                <div class="centrar-vertical caja">
                    <a href="/vacantes/editar/{{url}}" class="btn btn-amarillo">Editar vacante</a>
                </div>
                <div class="centrar-vertical caja">
                    <a href="#" data-eliminar="{{_id}}" class="btn btn-rojo">Eliminar</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>Aun no haz creado una vacante que espera crea y publica..!</p>
    {{/if}}
    </div>
    
</main>